.typingTest {
  font-size: 3rem;
  outline: none;
  margin-left: 40px;
}

.currLetter {
  position: relative;
  display: inline;
}

.currLetter::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid black;
}
.gameMode {
  text-align: center;
  margin-bottom: 20px;
}

.gameModeInstantDeath {
  color: red;
  font-weight: bold;
}
.elapsedTimeContainer {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  font-size: 1.1rem;
  color: #333;
}
.instructions {
  font-size: 1rem;
  color: #333;
  margin-bottom: 40px;
  margin-left: 30px;
}
