.practiceContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.practiceField {
  width: 100%;
  max-width: 900px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
